### 1. qsec 컬럼을 최대 최소 척도로 변환 후 0.5보다 큰 값을 가지는 레코드 수 구해라

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/mtcars.csv',index_col=0)
#print(df['qsec'])
qsec_min=np.min(df['qsec'])
qsec_max=np.max(df['qsec'])
df['qsec']=[(x-qsec_min)/(qsec_max-qsec_min) for x in df['qsec']]
print(len(df[df['qsec']>0.5]))

9

### 2. qsec 컬럼을 표준정규분포 데이터 표준화 변환 후 최대, 최소값을 구해라

In [11]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/mtcars.csv',index_col=0)
mu=df.qsec.mean()
sd=df.qsec.std()

df['qsec']=[(x-mu)/sd for x in df['qsec']]

rst_max=np.max(df['qsec'])
rst_min=np.min(df['qsec'])
print(rst_max, rst_min)

2.826754592962484 -1.8740102832334835

### 3. wt 컬럼의 이상치를 outlier 변수에 저장해라

In [17]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/mtcars.csv',index_col=0)

iqr=np.percentile(df['wt'], 75)-np.percentile(df['wt'], 25)
#print(iqr)
upper_outlier=iqr*1.5 + np.percentile(df['wt'], 75)
lower_outlier=np.percentile(df['wt'], 25) - (iqr*1.5)
#print(upper_outlier, lower_outlier)

outlier=df[(df['wt']<lower_outlier) | (df['wt']>upper_outlier)]['wt'].values
print(outlier)

[5.25  5.424 5.345]

### 4. mpg 변수와 나머지 변수들의 상관관계를 구하여 내림차순 정렬하여라

In [21]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/mtcars.csv',index_col=0)

print(df.corr()['mpg'].sort_values(ascending=False)[1:])

drat    0.681172
vs      0.664039
am      0.599832
gear    0.480285
qsec    0.418684
carb   -0.550925
hp     -0.776168
disp   -0.847551
cyl    -0.852162
wt     -0.867659
Name: mpg, dtype: float64

### 5. mpg 변수를 제외하고 데이터 정규화 과정을 진행한 이후 pca를 통해 변수 축소를 하려한다. 누적설명 분산량이 92%를 넘기기 위해 몇개의 주성분을 선택해야하는지 설명해라

In [37]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/mtcars.csv',index_col=0)

for col in df.columns[1:]:
    mu=df[col].mean()
    sd=df[col].std()
    df[col]=[(x-mu)/sd for x in df[col]]


from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(df[['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear','carb']])
df[['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear','carb']]=scaler.transform(df[['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear','carb']])
df
    
from sklearn.decomposition import PCA
pca=PCA()
pca.fit_transform(df[['cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear','carb']])
pca.explained_variance_ratio_.cumsum()

array([0.57602174, 0.84098606, 0.90070755, 0.92765822, 0.94988322,
       0.97089497, 0.98418697, 0.99225513, 0.99762037, 1.        ])

### 6. 데이터의 index는 (업체명) (모델명)으로 구성되어 있다. 데이터에 brand 컬럼을 추가하고 value 값으로 업체명을 입력해라

In [44]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/mtcars.csv',index_col=0)


df['brand']=[x.split(' ')[0] for x in df.index]
print(df['brand'])

Mazda RX4                 Mazda
Mazda RX4 Wag             Mazda
Datsun 710               Datsun
Hornet 4 Drive           Hornet
Hornet Sportabout        Hornet
Valiant                 Valiant
Duster 360               Duster
Merc 240D                  Merc
Merc 230                   Merc
Merc 280                   Merc
Merc 280C                  Merc
Merc 450SE                 Merc
Merc 450SL                 Merc
Merc 450SLC                Merc
Cadillac Fleetwood     Cadillac
Lincoln Continental     Lincoln
Chrysler Imperial      Chrysler
Fiat 128                   Fiat
Honda Civic               Honda
Toyota Corolla           Toyota
Toyota Corona            Toyota
Dodge Challenger          Dodge
AMC Javelin                 AMC
Camaro Z28               Camaro
Pontiac Firebird        Pontiac
Fiat X1-9                  Fiat
Porsche 914-2           Porsche
Lotus Europa              Lotus
Ford Pantera L             Ford
Ferrari Dino            Ferrari
Maserati Bora          Maserati
Volvo 142E                Volvo
Name: brand, dtype: object

### 7. 추가된 brand 컬럼을 제외한 모든 컬럼을 통해 pca를 실시해라. 2개의 주성분과 brand 컬럼으로 구성된 새로운 데이터 프레임을 출력해라

In [52]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/mtcars.csv',index_col=0)


brand=[x.split(' ')[0] for x in df.index]

df2=df.copy()
from sklearn.decomposition import PCA
pca=PCA(n_components=2)
df2=pd.DataFrame(pca.fit_transform(df2))
df2.columns=[['pca1', 'pca2']]
df2['brand']=brand
df2.index=df.index
df2

                           pca1        pca2     brand
Mazda RX4            -79.596425   -2.132241     Mazda
Mazda RX4 Wag        -79.598570   -2.147487     Mazda
Datsun 710          -133.894096    5.057570    Datsun
Hornet 4 Drive         8.516559  -44.985630    Hornet
Hornet Sportabout    128.686342  -30.817402    Hornet
Valiant              -23.220146  -35.106518   Valiant
Duster 360           159.309025   32.259197    Duster
Merc 240D           -112.615805  -39.702195      Merc
Merc 230            -103.534591   -7.513104      Merc
Merc 280             -67.046877    6.208536      Merc
Merc 280C            -66.997514    6.206387      Merc
Merc 450SE            55.211672   10.373509      Merc
Merc 450SL            55.173910   10.361893      Merc
Merc 450SLC           55.251602   10.370934      Merc
Cadillac Fleetwood   242.814893  -52.501758  Cadillac
Lincoln Continental  236.369886  -38.280788   Lincoln
Chrysler Imperial    224.737944  -16.111941  Chrysler
Fiat 128            -172.363654   -6.575522      Fiat
Honda Civic         -181.066911  -17.783639     Honda
Toyota Corolla      -179.697852   -4.188212    Toyota
Toyota Corona       -121.224099    3.345362    Toyota
Dodge Challenger      80.159386  -34.983214     Dodge
AMC Javelin           67.572431  -28.894067       AMC
Camaro Z28           150.354631   36.633575    Camaro
Pontiac Firebird     164.652522  -48.239880   Pontiac
Fiat X1-9           -171.897231   -6.643746      Fiat
Porsche 914-2       -123.804988   -2.033356   Porsche
Lotus Europa        -137.082789   28.675647     Lotus
Ford Pantera L       159.413222   53.318347      Ford
Ferrari Dino         -64.762396   62.954280   Ferrari
Maserati Bora        145.361703  139.049149  Maserati
Volvo 142E          -115.181783   13.826313     Volvo