In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [18]:
data=pd.DataFrame({'a':[1,2,3,4,5],
                   'a1':[3,43,425,6345,3],
                  'b':['aa', 'ab', 'aa', 'bb', 'ab']})

In [4]:
data

   a   b
0  1  aa
1  2  ab
2  3  aa
3  4  bb
4  5  ab

In [6]:
onehot=OneHotEncoder()
onehot.fit(data['b'].values.reshape(-1,1))

OneHotEncoder()

In [11]:

print(onehot.transform(data['b'].values.reshape(-1,1)))

  (0, 0)	1.0
  (1, 1)	1.0
  (2, 0)	1.0
  (3, 2)	1.0
  (4, 1)	1.0

In [12]:
print(data['b'].values.reshape(-1,1))

[['aa']
 ['ab']
 ['aa']
 ['bb']
 ['ab']]

In [20]:
data=pd.get_dummies(data, columns=['b'])

In [22]:
dataa=[[ 0.87051805,  0.12948195],
 [ 0.05989048,  0.94010952],
 [ 0.56217237,  0.43782763]]

In [23]:
dataa

[[0.87051805, 0.12948195], [0.05989048, 0.94010952], [0.56217237, 0.43782763]]

In [24]:
dataa.to_frame()

AttributeError: 'list' object has no attribute 'to_frame'

In [26]:
pd.DataFrame(dataa)[1]

0    0.129482
1    0.940110
2    0.437828
Name: 1, dtype: float64